@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oxygen";
  src: url(../../static/fonts/Oxygen-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Oxygen Bold";
  font-weight: 900;
  src: url(../../static/fonts/Oxygen-Bold.ttf) format("truetype");
}

.navButton {
  @apply flex items-center justify-center uppercase p-3 cursor-pointer disabled:opacity-20 disabled:cursor-default hover:scale-110 transition-all;
}

.center {
  @apply flex items-center justify-center;
}
